---

---

<div class="items-center mt-12 md:mt-24 md:flex">
  <div class="md:w-1/2">
    <h1 class="mb-5 text-4xl font-extrabold md:text-5xl">Es momento de que tu marca suba al siguiente nivel</h1>
    <p>
      En Wonder Clouds nos encargamos de diseñar estrategias innovadoras para impulsar tu marca hacia nuevos horizontes y conectar con audiencias globales de manera impactante.
    </p>
  </div>
  <div class="md:w-1/2">
    <img src="/src/assets/banner 1.svg" alt="Imagen Banner">
  </div>
</div>
