---
import { Image } from "astro:assets";

import logo from "../assets/logo-wonder-cloud.png";
---

<div class="bg-[#E2EFFB]">
  <div class="items-center grid gap-x-20 gap-y-4 mx-5 md:grid-cols-3 md:mx-24 lg:mx-[12rem]">
    <div class="flex flex-col items-center md:items-start">
      <Image src={logo} alt="Logo" width='150' />
      <p>Descubre el poder de la innovación digital con Wonder Clouds. Impulsamos tu presencia en línea con soluciones creativas y estratégicas que elevan tu marca por encima de las nubes</p>
    </div>
    <div class="flex">
      <ul class="hidden md:grid  md:grid-cols-1 font-semibold">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contactanos</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center md:items-start">
      <p>+51 940576340</p>
      <p>contacto@wonderclouds.devs</p>
    </div>
  </div>
  <p class="text-center font-bold">Wonder Clouds - 2024</p>
</div>
