---
import { Image } from "astro:assets";

import logo from '../assets/logo-wonder-cloud.png';
---

<nav class="flex items-center justify-between md:mx-24 lg:mx-[12rem]">
  <div>
    <Image src={logo} alt='' />
  </div>

  <ul class="hidden font-medium md:flex md:gap-9">
    <li><a href="/">Inicio</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="/works">Proyectos</a></li>
    <li><a href="#">Contáctenos</a></li>
  </ul>
</nav>
