---
import { Image } from "astro:assets";

import logo from '../assets/logo-wonder-cloud.png';
---

<nav class="flex items-center justify-between md:mx-24 lg:mx-[12rem]">
  <div>
    <Image src={logo} alt='' />
  </div>

  <ul class="hidden font-medium md:flex md:gap-9">
    <li><a href="#"></a>Inicio</li>
    <li><a href="#"></a>Nosotros</li>
    <li><a href="#"></a>Servicios</li>
    <li><a href="#"></a>Proyectos</li>
    <li><a href="#"></a>Contactenos</li>
  </ul>
</nav>
