---
import Card from "./Card.astro";
---

<div class="mb-12 mx-2 mt-12 md:mt-20 md:mx-24 lg:mx-[12rem]">
  <div class="font-[900] text-[2rem] md:text-[2.5rem] text-center mb-5">
    <h2>Nuestro Servicios</h2>
  </div>
  <div class="grid gap-y-10 md:grid-cols-2 md:gap-x-12">
    <Card 
      title="Desarrollo Web Personalizado"
      body="Desde diseños elegantes hasta funcionalidades avanzadas, creamos sitios web a medida que no solo cautivan a tus visitantes, sino que también potencian tus objetivos comerciales."
      icon="/src/assets/icons/desarrollo-web-services.webp"
      description="Icono sobre desarrollo web"
      colorBody="#F9F0D7"
      colorIcon="#F7E1A6"
    />

    <Card 
      title="Presencia Digital de Marca"
      body="Convierte tu presencia online en una poderosa herramienta de marketing que atrae, involucra y convierte a tu audiencia. Desde la optimización del sitio web hasta la gestión de contenido."
      icon="/src/assets/icons/presencia-digital-services.webp"
      description="Icono sobre presencia digital"
      colorBody="#DAC4F7"
      colorIcon="#C083FF"
    />

    <Card 
      title="Marketing Digital 360"
      body="Sumérgete en un viaje completo de marketing digital donde cada aspecto de tu presencia online se optimiza para el éxito. Desde estrategias de SEO hasta campañas de publicidad en redes sociales."
      icon="/src/assets/icons/marketing-services.webp"
      description="Icono sobre desarrollo web"
      colorBody="#BEE5DC"
      colorIcon="#3ED8B3"
    />
    <Card 
      title="Organización de Eventos"
      body="Desde pequeñas reuniones hasta grandes conferencias, nos encargamos de cada detalle para asegurarnos de que tu evento sea un éxito rotundo."
      icon="/src/assets/icons/eventos-services.webp"
      description="Icono sobre eventos"
      colorBody="#FFD9E0"
      colorIcon="#FF5F8C"
    />
    <Card 
      title="Branding e Identidad de Marca"
      body="Más que solo un logotipo, creamos una narrativa visual que define quién eres y qué representas. Desde el diseño del logotipo hasta la selección de colores y tipografías."
      icon="/src/assets/icons/branding-services.webp"
      description="Icono sobre Identidad de Marca"
      colorBody="#FFE3BD"
      colorIcon="#FFA947"
    />
    <Card 
      title="Gestión de Redes Sociales"
      body="Deja que tus redes sociales hablen por ti con una estrategia de gestión cuidadosamente diseñada. Desde la creación de contenido hasta la interacción con la audiencia y el análisis de métricas."
      icon="/src/assets/icons/redes-sociales-services.webp"
      description="Icono sobre desarrollo web"
      colorBody="#C4E0F9"
      colorIcon="#5BB8FF"
    />
  </div>
</div>
