---
import type { Trabajos } from "../interfaces/Trabajos";
import CardWork from "./Card-Work.astro";

const response = await fetch('http://127.0.0.1:8000/proyectos/proyectos/');
const data: Trabajos[] = await response.json();

---

<div class="flex flex-col items-center gap-y-8 mb-12 mx-2 mt-6 md:mt-10 md:mx-24 lg:mx-[12rem]">
  <div class="text-center md:container">
    <h2 class="font-bold text-[2rem] mb-6 md:text-[2.5rem]">Nuestros Trabajos</h2>
  </div>
  <div class="grid gap-y-3 md:gap-x-3 md:grid-cols-3 ">
    {data.map((data, index) => (
      <CardWork
        image={"http://127.0.0.1:8000/"+data.image}
        description={data.descripcion}
        title={data.titulo}
      />
    ))}
  </div>
</div>