---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Wonder Clouds - Agencia de Marketing">
  <header>
    <Header />
  </header>
  <main>
    <Banner />
  </main>
</Layout>

<style></style>
