---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorksList from "../components/Works-List.astro"
import Contacts from "../components/Contacts.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Wonder Clouds - Agencia de Marketing">
  <header class="container">
    <Header />
  </header>
  <main class="container">
    <WorksList/>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>